
<% if current_user.nil? %>
  <div class="jumbotron">
    <h1 class="display-3">Instagram</h1>
    <p class="lead">Connecting the world thourgh photos.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="thumbnail"><br/>
        <p>author</p>
        <hr>
        <p>photo..</p>
        <div class="caption">
          <p><a href="#" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></a><a href="#" class="btn btn-lg" role="button"><span class="glyphicon glyphicon-comment" aria-hidden="true"></a></p>
          <h3>Photo title</h3>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>  

<% end %>

<hr><br />
<footer class="footer">
  <p>© bekovs 2017</p>
</footer>



